/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
.Android {
  /* colors */
  /* digit clock display */
  /* Android ActionBar element */ }
  .Android .osButton, .Android .buttonItem a {
    display: inline-block;
    border-radius: 2px;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #767676;
    padding: 10px 20px;
    box-shadow: 0 1px 2px #c8c8c8;
    background: #d2d2d2;
    color: #333333; }
  .Android .osButton.important {
    border-radius: 2px;
    border-top: 1px solid #6fcbed;
    border-bottom: 1px solid #2789ad;
    padding: 10px 20px;
    box-shadow: 0 1px 2px #a9ddf1;
    background: #33b5e5;
    color: white; }
  .Android .listview {
    display: block; }
    .Android .listview li {
      border-bottom: 1px solid #dfdfdf;
      padding: 17px 7px; }
    .Android .listview p {
      vertical-align: top;
      display: inline-block; }
      .Android .listview p.subText {
        font-size: 14px;
        display: block;
        color: #aaa; }
    .Android .listview .togglebox, .Android .listview .arrowbox {
      display: block;
      float: left; }
      .Android .listview .togglebox input, .Android .listview .arrowbox input {
        width: 16px;
        height: 16px;
        margin-right: 4px; }
    .Android .listview .arrowbox .icon {
      display: none; }
    .Android .listview .arrow .icon {
      display: none; }
  .Android .sectionHeader, .Android .sectionText, .Android .listview {
    margin: 2px 10px; }
  .Android .sectionHeader {
    text-transform: uppercase;
    padding: 4px;
    font-size: 16px;
    color: #33b5e5;
    border-bottom: 2px solid #33b5e5; }
  .Android .sectionText {
    font-size: 14px;
    display: block;
    color: #666;
    padding: 5px; }
  .Android .loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: #fff; }
    .Android .loading .loading-animation {
      background: url("../img/ActivityIndicator.gif") no-repeat center; }
  .Android .compass {
    display: block;
    margin: 0 auto;
    width: 240px;
    height: 240px;
    padding-top: 30px;
    text-align: center;
    border: 1px solid #aeaeae;
    box-shadow: 0 0 20px #d2d2d2;
    border-radius: 100%;
    content: attr(data-deg); }
  .Android .digits {
    font-size: 2rem;
    background: #dddddd;
    border: 0;
    border-bottom: 1px solid #aeaeae;
    border-top: 1px solid #aeaeae; }
    .Android .digits > * {
      text-align: center;
      border-right: 1px solid #aeaeae;
      padding: 40px 10px; }
  .Android .actionBar {
    position: relative;
    background-color: #dddddd;
    box-sizing: border-box;
    display: block;
    padding: 8px;
    font-size: 18px;
    background: #dddddd;
    border-bottom: 1px solid #aeaeae;
    box-shadow: inset 0 -3px 0 #d2d2d2;
    /* back button */
    /* menu button */
    /* controls */ }
    .Android .actionBar ul {
      list-style: none; }
      .Android .actionBar ul li {
        display: inline-block; }
    .Android .actionBar > span, .Android .actionBar > ul, .Android .actionBar > ul span,
    .Android .actionBar > a, .Android .actionBar > ul, .Android .actionBar > ul a {
      color: #6e6e6e;
      display: inline-block;
      vertical-align: top; }
    .Android .actionBar .back {
      padding: 0 5px; }
      .Android .actionBar .back > * {
        vertical-align: top;
        display: inline-block;
        font-size: 40px;
        line-height: 2rem; }
    .Android .actionBar .menu {
      position: relative;
      padding: 6px 15px;
      color: #333333; }
      .Android .actionBar .menu:after {
        position: absolute;
        content: "";
        display: block;
        border: transparent solid 10px;
        -moz-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        transform: rotate(225deg);
        filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
        zoom: 1;
        right: -10px;
        bottom: -10px;
        border-right: solid 10px #6e6e6e; }
      .Android .actionBar .menu .items {
        display: block;
        position: absolute;
        top: 43px;
        left: 0;
        z-index: 2;
        background: #efefef;
        border: 1px solid #dddddd;
        box-shadow: 0 0 8px #dddddd; }
        .Android .actionBar .menu .items li {
          font-size: 15px;
          color: #333333;
          padding: 10px 15px;
          display: block;
          border-bottom: 1px solid #dadada; }
          .Android .actionBar .menu .items li a {
            color: #333333; }
    .Android .actionBar .control {
      float: right; }
      .Android .actionBar .control a {
        padding: 4px 5px; }
      .Android .actionBar .control .icon {
        font-size: 50px;
        line-height: 25px; }
