@import "css3-mixins.scss";
@import "mixins.scss";

//use --style compressed for compressed .css output


body.iOS{
  background: #cbd0d9;
}

.iOS{
  $black: #000;
  $textShadowWhite: #f2f3f6;

  /* colors */
  $abBack: #8b9fba;
  $abBackGradientTop: #bdcadc;
  $abBackGradientBottom: #5a7598;

  $abBorder: #aeaeae;
  $abShadowBottom: #3f5c80;
  $abShadowTop: #d4dce9;
  $abIcons: #fff;
  $abFont: #ffffff;
  $abFontShadow: #525b66;
  $abMenuList: #efefef;
  $abMenuListBorder: #ddd;
  $abMenuListItemBorder: #dadada;

  $abButtonBack:#6480a5;
  $abButtonBackGradientTop: #869ebc;
  $abButtonBackGradientBottom: #42628e;
  $abButtonBoxShadow: #375075;
  $abButtonBoxShadowOut: #a0afc4;

  $listviewBack: #f7f7f7;
  $listviewBorder: #b7b9bd;
  $listviewItemBorderBottom: #cacaca;
  $listviewItemBorderTop: #fff;


  $normalButtonBorder:#777;
  $normalButtonBack: #aaa;
  $importantButtonBack: #cf2b2d;
  $importantButtonBorder: #901e1f;
  $successButtonBack: #179714;
  $successButtonBorder: #096106;
  .osButton{
    display:inline-block;
    @include iosButton($normalButtonBack, $normalButtonBorder);
  }
  .osButton.important{
    @include iosButton($importantButtonBack, $importantButtonBorder);
  }
  .osButton.success{
    @include iosButton($successButtonBack, $successButtonBorder);
  }

  .sectionHeader, .sectionText{
    padding: 0 18px + 15px;
    text-shadow: 0 1px 0 $textShadowWhite;
  }
  .sectionText{
    margin-bottom: 10px;
  }
  .sectionHeader{
    font-size: 20px;
  }

  .listview{
    background: $listviewBack;
    color:$black;
    border:1px solid $listviewBorder;
    box-shadow: inset 0 1px 1px #939393, 0 1px 2px #fff;
    list-style: none;
    border-radius: 15px;
    overflow: hidden;

    margin: 0 15px;
    margin-bottom: 15px;

    li{
      border-bottom: 1px solid $listviewItemBorderBottom;
      border-top: 1px solid $listviewItemBorderTop;
      padding: 8px 10px;
      font-size: 20px;

      .subText{
        font-size:18px;
        font-weight: normal;
      }

      &.buttonItem{
        padding:0;

        a{
          display: block;
          padding:8px 10px;
          font-weight: bold;
          color: $black;
        }

      }

      $arrowColor: #7f7f7f;

      &.arrow{
        p{
          display: inline-block;
        }
        .icon{
          font-size: 60px;
          line-height: 32px;
          float:right;
          color:$arrowColor;
        }
      }

      p{
        font-weight: bold;
        display: inline-block;
        padding-top: 2px;
        padding-bottom: 2px;
      }

      &:last-child{
        border-bottom: 0;
      }
      &:first-child{
        border-top: 0;
      }
    }

  }

  .arrowbox{
    float:right;
    display: inline-block;

    $arrowColor: #324f85;

    .icon{
      color: $arrowColor;
      font-size:45px;
      font-weight: normal;
      line-height: 32px;
    }

    input{
      display: none;

      &:checked ~ label{
        b{
          visibility: visible;
        }
      }
      & ~ label{
        b {
          visibility: hidden;
        }
      }
    }

  }

  .togglebox{

    float:right;

    display:inline-block;
    border:1px solid #BBB;
    width:90px;
    height:30px;
    position:relative;
    border-radius:20px;
    color:#FFF;
    font-weight:bold;
    overflow:hidden;
    box-shadow:0 1px 0 #CCC;

    input{
      display: none;

      &:checked ~ label{
        left:-60px;
      }
    }

    label{
      width:200%;
      height:100%;
      line-height:30px;
      border-radius:0.4em;
      position:absolute;
      top:0;
      left:0;
      z-index:1;
      font-size:11px;
      cursor:pointer;
      -webkit-transition:0.12s;
      -moz-transition:0.12s;
      transition:0.12s;

      b{
        display:block;
        height:100%;
        width:30px;
        float:left;
        position:relative;
        z-index:1;
        border:1px solid #AAA;
        background:#F6F6F6;
        box-shadow:0 4px 0 -2px #F1F1F1 inset, 0 2em 2em -2em #AAA inset, 0 0 2px rgba(0,0,0,.5);
        border-radius:20px;
      }

      &:before,&:after{
        width:75px;
        float:left;
        text-align:center;
      }

      &:before{
        content:'ON';
        margin-right:-16px;
        padding-right:13px;
        background:#007FEA;
        text-shadow:0 -1px 0px #093B5C;
        box-shadow:0 4px 5px -2px rgba(0,0,0,0.3) inset;
      }
      &:after{
        content:'OFF';
        margin-left:-15px;
        padding-left:13px;
        color:#999;
        background:#FFF;
        box-shadow:0 4px 5px -2px rgba(0,0,0,0.3) inset;
      }

      &:hover b{
        background:#E5E5E5;
      }
    }

    span{
      position:absolute;
      right:-100px;
    }


  }

  .loading{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:3;

    background: $abFont;

    .loading-animation{
      background: url("../img/ActivityIndicator.gif") no-repeat center;
    }
  }

  .compass{
    display: block;
    margin:0 auto;
    width:240px;
    height:240px;
    padding-top:30px;
    text-align: center;
    border:1px solid $abBorder;
    box-shadow: 0 0 20px $abShadowBottom;
    border-radius: 100%;
    content: attr(data-deg);
  }

  /* digit clock display */
  .digits{
    font-size: 20px;
    background: $abBack;
    border:0;
    border-bottom: 1px solid $abBorder;
    border-top: 1px solid $abBorder;

    & > *{
      text-align: center;
      border-right: 1px solid $abBorder;
      padding:40px 10px;
    }
  }


  .bottomMenu{
    position: relative;
    z-index: 2;
    background: $abBack;

    .items{
      border-top:1px solid $abShadowBottom;
      text-align: center;
      list-style: none;
      background: $abBack;
      @include background-gradient($abButtonBackGradientTop, $abBackGradientBottom);

      li{
        display: inline-block;
        color: $abFont;
        text-shadow: 0 -1px 0 $abFontShadow;

        .icon{
          line-height:25px;
          display: block;
          text-align: center;
          font-size: 40px;
        }

        a{
          display: block;
          padding: 10px 20px;
          color: $abFont;
          text-align: center;
        }
      }
    }

  }

  /* Android ActionBar element */
  .actionBar {
    position: relative;

    height:44px;
    box-sizing: border-box;
    display: block;
    padding:2px;
    font-size: 24px;
    background: $abBack;
    @include background-gradient($abBackGradientTop, $abBackGradientBottom);

    border-bottom: 1px solid $abBorder;
    box-shadow: inset 0 -3px 0 $abShadowBottom, inset 0 2px 1px $abShadowTop;

    ul{
      list-style: none;

      li{
        display: inline-block;
      }
    }

    > span, > ul, > ul span,
    > a, > ul, > ul a{
      height:50px;
      color: $abIcons;
      text-shadow: 0 -1px 0 $abFontShadow;
      display: inline-block;
      vertical-align: top;
    }

    /* back button */
    .back{
      margin-top:4px;
      margin-left:4px;
      padding: 0 10px;
      float:left;
      height: 30px;

      > *{
        vertical-align: top;
        display: inline-block;
        font-size: 14px;
      }
    }

    /* menu button */
    .menu{
      position: relative;
      padding:0 20px;
      font-size:20px;
      color: $abFont;
      text-shadow:0 -1px 0 $abFontShadow;
      text-align: center;
      display: block;
      width: 50%;
      margin:0 auto;

      p{
        margin-top:5px
      }
    }

    .ui-button{
      z-index : 0;
      background-color: rgba(74,108,155,1);
      background-image : -webkit-linear-gradient(
          bottom,
          rgba(0,0,0,0) 0%,
          rgba(0,0,0,0) 50%,
          rgba(255,255,255,0.1) 50%,
          rgba(255,255,255,0.3) 100%
      );

      box-shadow: inset 0 0 3px $abButtonBoxShadow, 0 1px 1px $abButtonBoxShadowOut;
      border-radius: 6px;
      padding: 6px 10px;
      position: relative;
      left:10px;

      &.back:before{
        display:block;
        content:"";
        width:20px;
        height:20px;
        position:absolute;
        left:-7px;
        top:4px;
        background:#1ce;

        box-shadow :  1px 1px 0 rgba(0,0,0,0.2) inset,
          -1px 1px 1px rgba(0,0,0,0.1) inset;

        @include transform(rotate(-45deg) skew(-10deg, -10deg));
        border-top-left-radius: 30px 2px;
        border-top-right-radius: 100px 40px;
        border-bottom-left-radius: 2px 30px;
        border-bottom-right-radius: 40px 100px;

        -webkit-mask-image :
          -webkit-gradient(linear, left top, right bottom,
            from(#000000),
            color-stop(0.44,#000000),
            color-stop(0.5, transparent),
            to(transparent));

        -webkit-background-size : 22px 22px;
        background-position :-2px -1.5px;
        background-color: rgba(74,108,155,1);/*change to the same as the main element*/
        background-image :
          -webkit-gradient(linear, left bottom, right top,
            from(rgba(0,0,0,0)),
            color-stop(0.5, rgba(0,0,0,0)),
            color-stop(0.5, rgba(255,255,255,0.1)),
            to(rgba(255,255,255,0.3)));
      }
    }
  }


  /* general html */
  input{

  }

}