@import "css3-mixins.scss";

//use --style compressed for compressed .css output

body.Android{
  padding-top:74px;
}

.Android{
  /* colors */
  $abBack: #ddd;
  $abBorder: #aeaeae;
  $abShadow: #d2d2d2;
  $abIcons: #6e6e6e;
  $abFont: #333;
  $abMenuList: #efefef;
  $abMenuListBorder: #ddd;
  $abMenuListItemBorder: #dadada;



  .compass{
    display: block;
    margin:0 auto;
    width:240px;
    height:240px;
    padding-top:30px;
    text-align: center;
    border:1px solid $abBorder;
    box-shadow: 0 0 20px $abShadow;
    border-radius: 100%;
    content: attr(data-deg);
  }

  /* digit clock display */
  .digits{
    font-size: 2rem;
    background: $abBack;
    border:0;
    border-bottom: 1px solid $abBorder;
    border-top: 1px solid $abBorder;

    & > *{
      text-align: center;
      border-right: 1px solid $abBorder;
      padding:40px 10px;
    }
  }


  /* Android ActionBar element */
  .actionBar {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:2;
    height:74px;
    box-sizing: border-box;
    display: block;
    padding:.8rem;
    font-size: 1.8rem;
    background: $abBack;
    border-bottom: 1px solid $abBorder;
    box-shadow: inset 0 -3px 0 $abShadow;

    ul{
      list-style: none;

      li{
        display: inline-block;
      }
    }

    > span, > ul, > ul span,
    > a, > ul, > ul a{
      height:50px;
      color: $abIcons;
      display: inline-block;
      vertical-align: top;
    }
    > span > *,> a > *{
      margin-top: 9px;
    }

    /* back button */
    .back{
      padding: 0 10px;

      > *{
        vertical-align: top;
        display: inline-block;
        font-size: 4rem;
        line-height: 2rem;
      }
    }

    /* menu button */
    .menu{
      position: relative;
      padding:0 20px;
      color: $abFont;

      &:after{
        position: absolute;
        content: "";
        display: block;
        border:transparent solid 10px;
        @include rotate(225);
        right:-10px;
        bottom:-10px;
        border-right: solid 10px $abIcons;
      }
      .items{
        display:block;
        position: absolute;
        top:52px;
        left:0;
        background: $abMenuList;
        border: 1px solid $abMenuListBorder;
        box-shadow: 0 0 8px $abMenuListBorder;

        li{
          font-size: 1.5rem;
          color: $abFont;
          padding: 10px 15px;
          display:block;
          border-bottom: 1px solid $abMenuListItemBorder;
        }
      }
    }

    /* controls */
    .control{
      float:right;

      a{
        padding:0 .5rem;
      }
      > *{
        font-size: 5rem;
        line-height: 3rem;
      }
    }
  }

}