@import "css3-mixins.scss";

//use --style compressed for compressed .css output

$back: #000;
$font: #fff;

html{
  padding:0;
  background-color: $back;
}
body.WinCE{
  overflow: hidden;
  height:100%;
  padding:0;
  background-color: $back;
  color: #fff;
}
.WinCE{


  /* colors */
  $abBack: #1f1f1f;
  $abBackGradientTop: #bdcadc;
  $abBackGradientBottom: #5a7598;

  $abBorder: #aeaeae;
  $abShadowBottom: #3f5c80;
  $abShadowTop: #d4dce9;
  $abIcons: #fff;
  $abFont: #ffffff;
  $abFontShadow: #525b66;
  $abMenuList: #efefef;
  $abMenuListBorder: #ddd;
  $abMenuListItemBorder: #dadada;

  $abButtonBack:#6480a5;
  $abButtonBackGradientTop: #869ebc;
  $abButtonBackGradientBottom: #42628e;
  $abButtonBoxShadow: #375075;
  $abButtonBoxShadowOut: #a0afc4;

  .loading{
    background: $back;

    .loading-animation{
      background: url("../img/animated_loader.gif") no-repeat center;
      width:100%;
      height:4px;
      position:absolute;
    }
  }

  .header{
    position: relative;
    height:115px;
    background-color: $back;
    z-index: 2;
    padding:0 24px;
    padding-top: 22px;
  }
  h1,h2,h3,h4,h5,h6{
    color: $font;
    line-height:normal;
    text-transform: lowercase;
    font-weight: normal;
    margin:0;
  }
  h1{
    font-size:15px;
    color:#fff;
    text-transform: uppercase;
    margin-bottom: 6px;
    font-weight: bold;
  }
  h2{
    font-size:45px;
    color:#fff;
  }

  .compass{
    display: block;
    margin:0 auto;
    width:240px;
    height:240px;
    padding-top:30px;
    text-align: center;
    border:1px solid $abBorder;
    box-shadow: 0 0 20px $abShadowBottom;
    border-radius: 100%;
    content: attr(data-deg);
  }

  /* digit clock display */
  .digits{
    font-size: 20px;
    background: $abBack;
    border:0;
    border-bottom: 1px solid $abBorder;
    border-top: 1px solid $abBorder;

    & > *{
      text-align: center;
      border-right: 1px solid $abBorder;
      padding:40px 10px;
    }
  }


  .bottomMenu{
    position: relative;
    z-index: 2;
    padding:6px 0;
    margin:0;
    background: $abBack;

    .items{
      text-align: center;
      list-style: none;
      background: $abBack;

      $liSize: 28px;

      li:last-child{
        margin-right: 0;
      }

      li{
        border:2px solid $abFont;
        border-radius: 100%;
        display: inline-block;
        color: $abFont;
        width:$liSize;
        height:$liSize;
        margin-right:26px;
        text-align: center;



        .icon{
          line-height: 20px;
          font-size: 20px;

        }

        a{
          display: block;
          color: $abFont;
          text-align: center;
        }
      }
    }

  }

  /* Android ActionBar element */
  .actionBar {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:2;
    height:44px;
    box-sizing: border-box;
    display: block;
    padding:2px;
    font-size: 24px;

    ul{
      list-style: none;

      li{
        display: inline-block;
      }
    }

    > span, > ul, > ul span,
    > a, > ul, > ul a{
      height:50px;
      color: $abIcons;
      text-shadow: 0 -1px 0 $abFontShadow;
      display: inline-block;
      vertical-align: top;
    }

    /* back button */
    .back{
      margin-top:4px;
      margin-left:4px;
      padding: 0 10px;
      float:left;
      height: 30px;

      > *{
        vertical-align: top;
        display: inline-block;
        font-size: 14px;
      }
    }

    /* menu button */
    .menu{
      position: relative;
      padding:0 20px;
      font-size:20px;
      color: $abFont;
      text-shadow:0 -1px 0 $abFontShadow;
      text-align: center;
      display: block;
      width: 50%;
      margin:0 auto;

      p{
        margin-top:5px
      }
    }

    .ui-button{
      z-index : 0;
      background-color: rgba(74,108,155,1);
      background-image : -webkit-linear-gradient(
          bottom,
          rgba(0,0,0,0) 0%,
          rgba(0,0,0,0) 50%,
          rgba(255,255,255,0.1) 50%,
          rgba(255,255,255,0.3) 100%
      );

      box-shadow: inset 0 0 3px $abButtonBoxShadow, 0 1px 1px $abButtonBoxShadowOut;
      border-radius: 6px;
      padding: 6px 10px;
      position: relative;
      left:10px;

      &.back:before{
        display:block;
        content:"";
        width:20px;
        height:20px;
        position:absolute;
        left:-7px;
        top:4px;
        background:#1ce;

        box-shadow :  1px 1px 0 rgba(0,0,0,0.2) inset,
          -1px 1px 1px rgba(0,0,0,0.1) inset;

        @include transform(rotate(-45deg) skew(-10deg, -10deg));
        border-top-left-radius: 30px 2px;
        border-top-right-radius: 100px 40px;
        border-bottom-left-radius: 2px 30px;
        border-bottom-right-radius: 40px 100px;

        -webkit-mask-image :
          -webkit-gradient(linear, left top, right bottom,
            from(#000000),
            color-stop(0.44,#000000),
            color-stop(0.5, transparent),
            to(transparent));

        -webkit-background-size : 22px 22px;
        background-position :-2px -1.5px;
        background-color: rgba(74,108,155,1);/*change to the same as the main element*/
        background-image :
          -webkit-gradient(linear, left bottom, right top,
            from(rgba(0,0,0,0)),
            color-stop(0.5, rgba(0,0,0,0)),
            color-stop(0.5, rgba(255,255,255,0.1)),
            to(rgba(255,255,255,0.3)));
      }
    }
  }
}