/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
html {
  padding: 0;
  background-color: black; }

body.WinCE {
  height: 100%;
  padding: 0;
  background-color: black;
  color: #fff; }

.WinCE {
  /* colors */
  /* digit clock display */
  /* Android ActionBar element */ }
  .WinCE .loading {
    background: black;
    position: relative; }
    .WinCE .loading .loading-animation {
      background: url("../img/animated_loader.gif") no-repeat center;
      width: 100%;
      height: 4px;
      position: absolute; }
  .WinCE .header {
    position: relative;
    height: 115px;
    background-color: black;
    z-index: 2;
    padding: 0 24px;
    padding-top: 22px; }
  .WinCE h1, .WinCE h2, .WinCE h3, .WinCE h4, .WinCE h5, .WinCE h6 {
    color: white;
    line-height: normal;
    text-transform: lowercase;
    font-weight: normal;
    margin: 0; }
  .WinCE h1 {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 6px;
    font-weight: bold; }
  .WinCE h2 {
    font-size: 45px;
    color: #fff; }
  .WinCE .compass {
    display: block;
    margin: 0 auto;
    width: 240px;
    height: 240px;
    padding-top: 30px;
    text-align: center;
    border: 1px solid #aeaeae;
    box-shadow: 0 0 20px #3f5c80;
    border-radius: 100%;
    content: attr(data-deg); }
  .WinCE .digits {
    font-size: 20px;
    background: #1f1f1f;
    border: 0;
    border-bottom: 1px solid #aeaeae;
    border-top: 1px solid #aeaeae; }
    .WinCE .digits > * {
      text-align: center;
      border-right: 1px solid #aeaeae;
      padding: 40px 10px; }
  .WinCE #outlet {
    overflow: auto; }
  .WinCE .bottomMenu {
    position: relative;
    z-index: 2;
    padding: 6px 0;
    margin: 0;
    background: #1f1f1f; }
    .WinCE .bottomMenu .items {
      text-align: center;
      list-style: none;
      background: #1f1f1f; }
      .WinCE .bottomMenu .items li:last-child {
        margin-right: 0; }
      .WinCE .bottomMenu .items li {
        border: 2px solid white;
        border-radius: 100%;
        display: inline-block;
        color: white;
        width: 28px;
        height: 28px;
        margin-right: 26px;
        text-align: center; }
        .WinCE .bottomMenu .items li .icon {
          line-height: normal;
          font-size: 24px; }
        .WinCE .bottomMenu .items li a {
          display: block;
          color: white;
          text-align: center; }
  .WinCE .actionBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 44px;
    box-sizing: border-box;
    display: block;
    padding: 2px;
    font-size: 24px;
    /* back button */
    /* menu button */ }
    .WinCE .actionBar ul {
      list-style: none; }
      .WinCE .actionBar ul li {
        display: inline-block; }
    .WinCE .actionBar > span, .WinCE .actionBar > ul, .WinCE .actionBar > ul span,
    .WinCE .actionBar > a, .WinCE .actionBar > ul, .WinCE .actionBar > ul a {
      height: 50px;
      color: white;
      text-shadow: 0 -1px 0 #525b66;
      display: inline-block;
      vertical-align: top; }
    .WinCE .actionBar .back {
      margin-top: 4px;
      margin-left: 4px;
      padding: 0 10px;
      float: left;
      height: 30px; }
      .WinCE .actionBar .back > * {
        vertical-align: top;
        display: inline-block;
        font-size: 14px; }
    .WinCE .actionBar .menu {
      position: relative;
      padding: 0 20px;
      font-size: 20px;
      color: white;
      text-shadow: 0 -1px 0 #525b66;
      text-align: center;
      display: block;
      width: 50%;
      margin: 0 auto; }
      .WinCE .actionBar .menu p {
        margin-top: 5px; }
    .WinCE .actionBar .ui-button {
      z-index: 0;
      background-color: #4a6c9b;
      background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.3) 100%);
      box-shadow: inset 0 0 3px #375075, 0 1px 1px #a0afc4;
      border-radius: 6px;
      padding: 6px 10px;
      position: relative;
      left: 10px; }
      .WinCE .actionBar .ui-button.back:before {
        display: block;
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        left: -7px;
        top: 4px;
        background: #1ce;
        box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2) inset, -1px 1px 1px rgba(0, 0, 0, 0.1) inset;
        -webkit-transform: rotate(-45deg) skew(-10deg, -10deg);
        -moz-transform: rotate(-45deg) skew(-10deg, -10deg);
        transform: rotate(-45deg) skew(-10deg, -10deg);
        border-top-left-radius: 30px 2px;
        border-top-right-radius: 100px 40px;
        border-bottom-left-radius: 2px 30px;
        border-bottom-right-radius: 40px 100px;
        -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(black), color-stop(0.44, black), color-stop(0.5, transparent), to(transparent));
        -webkit-background-size: 22px 22px;
        background-position: -2px -1.5px;
        background-color: #4a6c9b;
        /*change to the same as the main element*/
        background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0)), color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.3))); }
