<div class="home-view">

	<div data-role="navigation-bar">Home</div>

	<div data-role="content">
		<div data-role="button" data-name="hello-button">Hello</div>


        <div class="slider">
            <div class="slider-track">
                <div class="slider-thumb"></div>
            </div>
        </div>

        <span data-role="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex expedita illum nostrum praesentium quae quibusdam sunt tenetur. Cupiditate debitis dolorum error maiores molestiae officiis quibusdam. Consectetur dolor earum eum reprehenderit.</span>
	</div>

</div>